
{% if data.deployment == "single_wan_untagged_lan" %}

!{% if data.loop0_ip != "" %}
interface Loopback0
 ip address {{ data.loop_ip }} 255.255.255.255
!{% endif %}
interface {{ data.wan_intf }}
 ip address {{ data.wan_ip }} {{ data.wan_mask }}
 no shutdown
!
interface {{ data.lan_intf }}
 ip address {{ data.lan_ip }} {{ data.lan_mask }}
 no shutdown
!
{% endif %}


{% if data.deployment == "single_wan_tagged_lan" %}

!{% if data.loop0_ip != "" %}
interface Loopback0
 ip address {{ data.loop_ip }} 255.255.255.255
!{% endif %}
interface {{ data.wan_intf }}
 ip address {{ data.wan_ip }} {{ data.wan_mask }}
 no shutdown
!{% for vlan in data.vlans %}
interface {{ data.lan_intf }}.{{ vlan.id }}
 description {{ vlan.name }} VLAN
 encapsulation dot1q {{ vlan.id }}
 ip address {{ vlan.ip }} {{ vlan.mask }}
 no shutdown
!{% endfor %}
{% endif %}

