
service password-encryption
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec localtime show-timezone
service sequence-numbers
no service tcp-small-servers
no service udp-small-servers
!
no ip source-route
ip routing
ip cef
ip tcp synwait-time 10
!
hostname {{ data.hostname }}
!
logging buffered 500000
no logging console
enable secret {{ data.secret }}
!
aaa new-model
!
!
aaa authentication login default local
aaa authorization exec default local
!
ip domain-name {{ data.domain_name }}	
!{% for ns in data.name_servers %}
ip name-server {{ ns.ip }} {% endfor %}
!
username {{ data.local_admin }} privilege 15 {{ data.local_password }}
!
{% include "cfg-intf.j2" %}
!{% if data.routing[ospf_index] %} 
{% include "cfg-ospf.j2" %} {% endif %}
!{% if data.routing[bgp_index] %}
{% include "cfg-bgp.j2" %} {% endif %}
!
{% include "cfg-maps.j2" %}
!
!
logging source-interface loopback0 {% for log in data.log_servers %}
logging {{ log.ip }} {% endfor %}
!
ntp source loopback0 {% for ntp in data.ntp_servers %}
ntp server {{ ntp.name }} {% endfor %}
!
!
ip ftp source-interface loopback0
ip tftp source-interface loopback0
ip ssh source-interface loopback0
snmp-server trap-source loopback0
ip tacacs source-interface loopback0
ip radius source-interface loopback0
!
!
ip ssh authentication-retries 3
ip ssh version 2
crypto key generate rsa general-keys modulus 1024
no ip http server
no ip http secure-server
!
{% include "cfg-snmp.j2" %}
!
line con 0
 logging synchronous
 exec-timeout 10
 transport preferred none
line vty 0 15
 access-class REMOTE_ACCESS in
 transport input ssh
 logging synchronous
 exec-timeout 10
 transport preferred none
!
