router bgp {{ data.routing[bgp_index].asn }} {% for net in data['routing'][bgp_index]['networks']  %}
 network {{ net.network }} mask {{ net.mask }} {% endfor %} {% for nbr in data['routing'][bgp_index]['neighbors']  %}
 neighbor {{ nbr.ip }} remote-as {{ nbr.asn }}
!{% endfor %}

