
service timestamps debug datetime msec
service timestamps log datetime msec
!
hostname {{ data.hostname }}
!
enable secret {{ data.secret }}
!
aaa new-model
!
!
aaa authentication login default local
aaa authorization exec default local
!
ip domain-name {{ data.domain_name }}	
!
username {{ data.local_admin }} privilege 15 {{ data.local_password }}
!
{%- include "cfg-intf-temp.j2" -%}
{%- if data.routing[ospf_index] -%} 
{% include "cfg-ospf-temp.j2" %} {% endif %}
!{% if data.routing[bgp_index] %}
{% include "cfg-bgp-temp.j2" %} {% endif %}
!
!
line con 0
 logging synchronous
line vty 0 15
 transport input ssh
 logging synchronous
!
